@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: rgb(220, 220, 213);
  --black: rgb(33, 33, 33);

  --foreground: var(--black);
  --background: var(--white);
}

.dark {
  --foreground: var(--white);
  --background: var(--black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
[dark]
hex : #212121
rgb : rgb(33, 33, 33)

[light]
hex : #DCDCD5
rgb : rgb(220, 220, 213)
*/
